@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

/* Generics */

.section__label{
    margin-bottom: 24px;
    font-size: 10px;
}

.section__title{
    font-size: 48px;
    margin-bottom: 30px;
}

.section__description{
    font-size: 18px;
    margin-bottom: 24px;
}

.purple{
    color: purple;
}

.btn{
    cursor: pointer
}

.default-btn{
    background-color: purple;
    color: white;
    border: 1px solid gray;
}

.btn:hover{
    filter:brightness(70%);
}

/* Logo */

.company__name--wrapper{
    display: flex;
    align-items: center;
}

.logo__wrapper{
    width: 40px;
    margin-right: 10px;
}

.logo__image{
    width: 100%;
}

.company__name--wrapper h1{
    font-size: 24px;
    font-weight: bold;
}

/* Navigation Bar */

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 40px 130px;
    position: relative;
}

.nav__links{
    display: flex;
}

li{
    list-style-type: none;
    margin-left: 50px;
}

.nav__link{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.nav__link--login{
    margin-left: 72px;
}

.nav__link--anchor{
    margin-left: 24px;
}

.nav__link--anchor a{
    padding: 11px 32px;
    background-color: purple;
    border-radius: 20px;
}

.open__icon{
    position: absolute;
    top: 16px;
    right: 8px;
    background-color: transparent;
    opacity: 0;
}

.mobile__menu{
    position: absolute;
    background-color: white;
    border: grey 1px solid;
    width: 103%;
    top: -16px;
    left: -16px;
    opacity: 0;
    border-radius: 5px;
}

.mobile__links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HERO BANNER */

.hero__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 80px;
    width: 83%;
    max-width: 1400px;
}

.left__column{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.hero__description{
    width: 90%;
}

.customers{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.customers p{
    font-size: 12px;
}

.customer__list{
    margin-top: 16px;
    width: 70%;
}

.client__logo{
    width: 100%;
}

.hero__image--container{
    width: 60%;
    display: flex;
    flex: 1;
}

.hero__image{
    width: 100%;
}

/* FEATURES */

.features__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature__list--container{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.feature{
    width: calc(100%/3);
}

.feature__container{
    display: flex;
    padding: 32px;
}

.feature__icon--container{
    width: 64px;
}

.feature__icon{
    width: 100%;
    border: 1px solid gray;
    border-radius: 40px;
    padding: 15px;
}

.feature__desc--container{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.feature__title{
    margin-bottom: 24px;
}







/* FOOTER */

footer{
    background-color: purple;
}

.link__columns{
    display: flex;    
    margin: 0 auto;
    max-width: 1350px;
    padding-top: 90px;
    padding-bottom: 60px;
    justify-content: space-between;
}

.link__column{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-left: 40px;
}

.column__links{
    display: flex;
    flex-direction: column;
}

.column__title{
    margin-bottom: 15px;
    color: white;
}

.footer__link{
    margin-top: 15px;
    color: white;
    text-decoration: none;
}

.footer__divider{
    width: 83%;
    margin: 0 auto;
}

.company__name--footer{
    color: white;
}

.icons{
    width: 85%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright{
    color:white;
}

.social__media--link{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50px;
    border: 1px grey solid;
    padding: 5px;
    text-decoration: none;
    margin-right: 15px;
    text-align: center;
}

i{
    font-size: 13px;
}



@media (max-width: 1024px){
    
    .section__title, .section__description{
        text-align: center;
    }

    /* NAVIGATION BAR */

    nav{
        margin: 40px 30px;
    }
    
    .logo__wrapper{
        width: 12%;
        margin-right: 36px;
    }
    
    .logo__image{
        width: 40px;
    }

    .nav__links{
        opacity: 0;
    }
    
    .open__icon{
        opacity: 1;
        cursor: pointer;
        z-index: 1;
    }

    .open__menu .mobile__menu {
        opacity: 1;
        z-index: 2;
    }

    .open__menu .close__icon {
        position: absolute;
        top: 24px;
        right: 16px;
        opacity: 1;
    }

    .mobile__links{
        padding: 32px;
    }

    .mobile__links li{
        padding: 12px;
        margin: 0;
    }

    .nav__link--anchor a{
        padding: 16px 32px;
        border-radius: 25px;
        color: white;
    }

    /* HERO BANNER */

    .hero__container{
        flex-direction: column;   
    }

    .left__column{
        width: 90%;
        align-items: center;
    }

    .customers{
        align-items: center;
        margin-bottom: 50px;
    }


    /* FEATURES */



    /* FOOTER */

    .link__columns{
        display: flex;
        flex-wrap: wrap;    
        margin: 0 auto;
        padding-top: 80px;
        padding-bottom: 60px;
        justify-content: space-between;
    }
    
    .link__column{
        display: flex;
        flex-direction: column;
        margin-right: 110px;
        margin-left: 30px;
    }
    
    .column__links{
        display: flex;
        flex-direction: column;
    }
    
    .column__title{
        margin-bottom: 15px;
        color: white;
    }
    
    .footer__link{
        margin-top: 15px;
        color: white;
        text-decoration: none;
    }

    .footer__divider{
        width: 93%;
    }
    
    .icons{
        width: 95%;
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .logo__wrapper{
        margin-right: 25px;
        
    }

}

@media (max-width: 768px){
    .mobile__menu .open__menu{
        position: absolute;
        opacity: 1;
    }

    .link__columns{
        display: flex;    
        margin: 0 auto;
        padding-top: 80px;
        padding-bottom: 10px;
        justify-content: left;
    }
    
    .link__column{
        display: flex;
        flex-direction: column;
        margin-right: 150px;
        margin-left: 35px;
        margin-bottom: 45px;
    }
    
    .column__links{
        display: flex;
        flex-direction: column;
    }
    
    .column__title{
        margin-bottom: 15px;
        color: white;
    }
    
    .footer__link{
        margin-top: 15px;
        color: white;
        text-decoration: none;
    }

    .icons{
        flex-direction: column;
    }

    .company__name--wrapper, .copyright{
        margin-bottom: 30px;
    }

    .last__link{
        margin-right: 0;
    }
    
}

