@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

/* Generics */

.text__column, .quality__text{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.section__image--container{
    display: flex;
    width: 50%;
}

.section__image{
    width: 100%;
}

.section__label{
    margin-bottom: 24px;
    font-size: 10px;
}

.section__title{
    font-size: 48px;
    margin-bottom: 16px;
}

.section__description{
    font-size: 18px;
    margin-bottom: 24px;
}

.container{
    margin-top: 200px;
}

.purple{
    color: purple;
}

.btn{
    cursor: pointer;
    transition: all 300ms ease;
}

.default-btn{
    background-color: purple;
    color: white;
    border: 1px solid gray;
    padding: 10px 30px;
    border-radius: 20px;
}

.btn:hover{
    filter:brightness(70%);
}

/* Logo */

.company__name--wrapper{
    display: flex;
    align-items: center;
}

.logo__wrapper{
    width: 40px;
    margin-right: 10px;
}

.logo__image{
    width: 100%;
}

.company__name--wrapper h1{
    font-size: 24px;
    font-weight: bold;
}

/* Navigation Bar */

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 40px 130px;
    position: relative;
}

.nav__links{
    display: flex;
    z-index: 1;
}

li{
    list-style-type: none;
    margin-left: 50px;
}

.nav__link{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}

.nav__link:after{
    content: "";
    position: absolute;
    background-color: purple;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    opacity: 0;
    transition: all 300ms ease;
}

.nav__link:hover:after{
    opacity: 1;
}

.nav__link--login{
    margin-left: 72px;
}

.nav__link--anchor{
    margin-left: 24px;
    text-decoration: none;
    font-size: 18px;
}

.nav__link--anchor a{
    padding: 11px 32px;
    background-color: purple;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}

.open__icon{
    position: absolute;
    top: 16px;
    right: 8px;
    background-color: transparent;
    opacity: 0;
}

.mobile__menu{
    position: absolute;
    background-color: white;
    border: grey 1px solid;
    width: 103%;
    top: -16px;
    left: -16px;
    opacity: 0;
    border-radius: 5px;
}

.mobile__links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HERO BANNER */

.hero__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 100px;
    width: 83%;
    max-width: 1400px;
}

.left__column{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.hero__title{
    margin-bottom: 32px;
}

.hero__description{
    width: 90%;
}

.email__form--container{
    position: relative;
    margin-bottom: 50px;
    margin-top: 10px;
}

.email__form{
    position: absolute;
    width: 65%;
    padding: 30px 40px;
    top:0;
    bottom: 0;
    z-index: 0;
}

.email__button{
    
    
}

.customers{
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.customers p{
    font-size: 12px;
}

.customer__list{
    margin-top: 16px;
    width: 70%;
}

.client__logo{
    width: 100%;
}

.hero__image--container{
    width: 60%;
    display: flex;
    flex: 1;
}

.hero__image{
    width: 100%;
}

/* FEATURES */

.features__description{
    width: 35%;
    text-align: center;
    margin-bottom: 80px;
}

.features__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature__list--container{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}

.feature{
    width: calc(100%/3);
}

.feature__container{
    display: flex;
    padding: 0 16px;
    padding-top: 32px;
}

.feature__icon--container{
    width: 24px;
}

.feature__icon{
    width: 100%;
    border: 1px solid gray;
    border-radius: 40px;
    padding: 20px;
}

.feature__desc--container{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-bottom: 16px;
}

.feature__title{
    margin-bottom: 16px;
}

.feature__desc{
    width: 200px;
    font-size: 17px;
    line-height: 2;
}

/* QUALITY */

.quality__container{
    display: flex;
    width: 85%;
    margin: 0 150px;
    justify-content: center;
    align-items: center;
}

.quality__text{
    padding-right: 50px;
}

.quality__text--container{
    padding-left: 0px;
    padding-right: 100px;
    margin-right: 50px;
    margin-bottom: 20px;
}

/* STEPS */

.steps__container{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.steps__column{
    margin-left: 70px;
}

#steps .section__title{
    margin-bottom: 32px;
}

.step{
    display: flex;
    margin-bottom: 30px;
}

.step__desc--container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 300px;
}

.step__title{
    margin-bottom: 20px;
}

/* VALUES */

.values__container{
    display: flex;
    max-width: 1350px;
    margin: 0 auto;
}

#values .section__title{
    margin-bottom: 32px;
}

.value__list--container{
    display: flex;
    margin-bottom: 50px;
    margin-top: 40px;
}

.value__title--container{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.values__column{
    width: 50%;
}

.values__description{
    padding: 6%;
    width: 80%;
}

.value{
    width: 70%;
}

.first__value{
    margin-right: 5%;
}

.second__value{
    margin-left: 5%;
}

.value__icon--container{
    margin-right: 10px;
}

.value__icon{
    border-radius: 30px;
    width: 20px;
    padding: 8px;
}

.green__background{
    background-color: green;
}

.pearl__background{
    background-color: pink;
}

/* PRICING */

.pricing__divider{
    width: 100%;
}

.subtitle{
    text-align: center;
    width: 50%;
}

.pricing__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__list--container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.price{
    width:29%;
    border: 1px solid grey;
    margin: 0 20px;
    border-radius: 10px;    
}

.price__desc--container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price__desc--container h3, 
.price__desc--container p{
    margin: 12px 0;
}

.pricing__divider{
    margin: 20px 0;
}

.pricing__btn{
    padding: 16px 56px;
    border-radius: 30px;
    margin-top: 12px;
    margin-bottom: 32px;
    border-color: transparent;
    cursor: pointer;
    transition: all 300ms ease;
}

.pricing__btn:hover{
    transform: translateX(1px) translateY(-1px);
    box-shadow: -10px 20px 40px -20px grey;
    cursor: pointer;
}

.personal__btn{
    background-color: turquoise;
    color: white;
}

.business__btn{
    background-color: white;
    color: purple;
}

.enterprise__btn{
    background-color: red;
    color: white;
}

/* TESTIMONIALS */

.testimonials__container{
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
}

#testimonials .section__title{
    margin-bottom: 32px;
}

.section__image--container{
    width: 45%;
    margin-left: 4%;
}

.section__image{
    width: 100%;
}

.testimonials__column{
    width: 40%;
    margin-left: 5%;
}

.testimonials__title--container,
.testimonial__title,
.testimonial__desc{
    margin-top: 20px;
}

.testimonial__footer{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.testimonial__thumbnail--container{
    width: 80px;
}

.testimonial__thumbnail{
    width: 100%;
    border-radius: 60px;
}

.testimonial__source{
    margin-left: 3%;
    margin-right: 15%;
}

.carousel{
    display: flex;
}

.arrow{
    width: 45px;
    height: 45px;
    border-radius: 60px;
}

.divider{
    height: 20px;
    background-color: gray;
    width: 1px;
    margin: 12px 11px;
}

.feature__desc--container{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-bottom: 16px;
}

.feature__title{
    margin-bottom: 16px;
}

.feature__desc{
    width: 200px;
    font-size: 17px;
    line-height: 2;
}

/* START */

.start__container{
    background-color: purple;
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 210px;
    padding: 6% 10%;
    border-radius: 10px;
}

.start__title--container{
    width: 50%;
}

.buttons{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.start__btn{
    background-color: orange;
    padding: 20px 36px;
    border-radius: 30px;
    margin-right: 32px;
    font-size: 16px;
    color: white;
}

.contact__btn{
    background-color: transparent;
    padding: 20px 36px;
    margin-right: 32px;
    border-radius: 30px;
    font-size: 16px;
    color: white;
}

.contact__btn:hover{
    background-color: white;
    color: purple;
    cursor: pointer;
}

/* FOOTER */

footer{
    background-color: purple;
}

.link__columns{
    display: flex;    
    margin: 0 auto;
    max-width: 1350px;
    padding-top: 90px;
    padding-bottom: 60px;
    justify-content: space-between;
}

.link__column{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-left: 40px;
}

.column__links{
    display: flex;
    flex-direction: column;
}

.column__title{
    margin-bottom: 15px;
    color: white;
}

.footer__link{
    margin-top: 15px;
    color: white;
    text-decoration: none;
    position: relative;
}

.footer__link:after{
    content: "";
    background-color: white;
    position: absolute;
    bottom: -7px;
    left: 0;
    height: 2px;
    width: 100%;
    opacity: 0;
    transition: all 300ms ease;
}

.footer__link:hover:after{
    opacity: 1;
}

.footer__divider{
    width: 83%;
    margin: 0 auto;
}

.company__name--footer{
    color: white;
}

.icons{
    width: 85%;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright{
    color:white;
}

.social__media--link{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50px;
    border: 1px grey solid;
    padding: 5px;
    text-decoration: none;
    margin-right: 15px;
    text-align: center;
}

i{
    font-size: 13px;
}



@media (max-width: 1024px){
    
    .section__image--container{
        width: 80%;
    }

    .section__image{
        width: 100%;
    }

    

    /* NAVIGATION BAR */

    nav{
        margin: 40px 30px;
    }
    
    .logo__wrapper{
        width: 12%;
        margin-right: 36px;
    }
    
    .logo__image{
        width: 40px;
    }

    .nav__links{
        opacity: 0;
    }
    
    .open__icon{
        opacity: 1;
        cursor: pointer;
        z-index: 1;
    }

    .open__menu .mobile__menu {
        opacity: 1;
        z-index: 2;
    }

    .open__menu .close__icon {
        position: absolute;
        top: 24px;
        right: 16px;
        opacity: 1;
    }

    .mobile__links{
        padding: 32px;
    }

    .mobile__links li{
        padding: 12px;
        margin: 0;
    }

    .nav__link--anchor a{
        padding: 16px 32px;
        border-radius: 25px;
        color: white;
    }

    /* HERO BANNER */

    .hero__container{
        flex-direction: column;   
    }

    .left__column{
        width: 90%;
        align-items: center;
        text-align: center;
    }

    .customers{
        align-items: center;
        margin-bottom: 50px;
    }


    /* FEATURES */

    
    .feature__list--container{
        width: 75%;
        padding-left: 20px;
    }
    
    .feature{
        width: calc(100%/2);
    }
    
    .features__description{
        width: 50%;
        margin-bottom: 55px;
    }

    /* QUALITY */

    .quality__container{
        margin: 0 30px;
        width: 100%;
    }

    .quality__text--container{
        margin: 0;
        padding: 0;
        
    }

    .section__image--container{
        margin: 0 50px;
        margin-right: 110px;
        width: 60%;
    }

    /* STEPS */

    
    .steps__column{
        margin-left: 0px;
        width: 65%;
    } 
    
    .step{
        margin-bottom: 30px;
    }
    
    .value__list--container{
        flex-direction: column;
    }

    .value{
        margin-bottom: 20px;
    }

    .second__value{
        margin-left: 0;
    }

    /* VALUES */

    .values__description{
        padding: 6%;
        width: 100%;
    }

    /* PRICING */

    .pricing__divider{
        width: 100%;
    }
    
    .pricing__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .pricing__list--container{
        flex-direction: column;
        align-items: center;
        width: 90%;
    }
    
    .price{
        width: 400px;
        border: 1px solid grey;
        margin: 35px 0;
        border-radius: 10px;    
    }
    
    .price__desc--container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .price__desc--container h3, p{
        margin: 12px 0;
    }
    
    .pricing__divider{
        margin: 20px 0;
    }

    /* TESTIMONIALS */

    .testimonials__column{
        width: 60%;
        margin-left: 0;
    }

    .testimonials__image--container{
        margin-right: 50px;
        width: 40%;
    }

    /* START */

    .start__container{
        background-color: purple;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 210px;
        padding: 10% 12%;
        border-radius: 10px;
    }
    
    .contact__title{
        text-align: center;
    }

    .start__title--container{
        width: 80%;
        margin-bottom: 24px;
    }
    
    .buttons{
        width: 70%;
        justify-content: center;
    }
    
    .contact__btn{
        margin-right: 0;
    }

    /* FOOTER */

    .link__columns{
        display: flex;
        flex-wrap: wrap;    
        margin: 0 auto;
        padding-top: 80px;
        padding-bottom: 60px;
        justify-content: space-between;
    }
    
    .link__column{
        display: flex;
        flex-direction: column;
        margin-right: 110px;
        margin-left: 30px;
    }
    
    .column__links{
        display: flex;
        flex-direction: column;
    }
    
    .column__title{
        margin-bottom: 15px;
        color: white;
    }
    
    .footer__link{
        margin-top: 15px;
        color: white;
        text-decoration: none;
    }

    .footer__divider{
        width: 93%;
    }
    
    .icons{
        width: 95%;
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .logo__wrapper{
        margin-right: 25px;
        
    }

}

@media (max-width: 768px){
    .mobile__menu .open__menu{
        position: absolute;
        opacity: 1;
    }

    /* FEATURES */

    .feature__list--container{
        width: 50%;
    }
    
    .feature{
        width: 100%;
    }
    
    .features__description{
        width: 50%;
        margin-bottom: 55px;
    }

    /* QUALITY */

    .quality__container{
        flex-direction: column-reverse;
    }

    .quality__text--container{
        text-align: center;
    }

    /* STEPS */

    .section__image--container{
        margin-right: 50px;
    }

    .steps__container{
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        align-items: center;
    } 
    
    .steps__column{
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .step{
        flex-direction: column;
        align-items: center;
    }

    .step__desc--container{
        margin-left: 0;
    }
    
    .step__title{
        margin-bottom: 20px;
    }

    /* VALUES */

    .values__container{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    
    .value__list--container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .value__title--container{
        justify-content: center;
    }
    
    .values__column{
        width: 75%;
        display: flex;
        justify-content: center;
    }
    
    .values__description{
        
        width: 80%;
    }
    
    .value{
        width: 70%;
    }
    
    .first__value{
        margin-right: 0;
    }
    
    .second__value{
        margin-left: 0;
    }
    
    /* PRICING */

    .pricing__container{
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    /* TESTIMONIALS */
    
    .testimonials__container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .testimonial__source{
        margin-right: 20%;
    }

    /* START */

    .start__container{
        padding: 12% 10%;
    }
    
    .start__title--container{
        width: 90%;
    }

    .buttons{
        width: 90%;
    }

    /* FOOTER */

    .link__columns{
        display: flex;    
        margin: 0 auto;
        padding-top: 80px;
        padding-bottom: 10px;
        justify-content: left;
    }
    
    .link__column{
        display: flex;
        flex-direction: column;
        margin-right: 150px;
        margin-left: 35px;
        margin-bottom: 45px;
    }
    
    .column__links{
        display: flex;
        flex-direction: column;
    }
    
    .column__title{
        margin-bottom: 15px;
        color: white;
    }
    
    .footer__link{
        margin-top: 15px;
        color: white;
        text-decoration: none;
    }

    .icons{
        flex-direction: column;
    }

    .company__name--wrapper, .copyright{
        margin-bottom: 30px;
    }

    .last__link{
        margin-right: 0;
    }
    
    

}

